/* color pallette

white : #f1e7cb
dark : #372924
green : #cbd29e
light orange : #e0be77
orange : #ca863b */

/* ---------------------------------------------------- */
/* universal styles ---------------------------------- */
* {
  box-sizing: border-box;
}
/* element styles ---------------------------------- */
body{
  margin: 0;
  padding: 0;
  /* display: flex; */
}
button{
  box-shadow: none;
  border: none;
}
p,h1{
  margin: 0;
  font-family: 'Alfa Slab One', cursive;
}

/* Title Card---------------------------------- */
.content-wrapper{
  background: #cbd29e;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 20px solid #f1e7cb
}

#title-card{
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 50%;
  order: 2;
}
#title-card h1{
  border: 2px solid orange;
}

/* User Card Container---------------------------------- */
#user-card-container{ 
  border: 2px solid green;
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: flex-end;
  order: 3;
  margin: 0 auto;
  height: 50vh;
}

.special-margin{
  margin-left: -120px;
}
/* Dealer Card Container---------------------------------- */
#dealer-card-container{
  border: 2px solid white;
  width: 50%;
  display: flex;
  /* position: relative; */
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
  order: 1;
  height: 50vh
  /* padding: auto; */
}

#dealer-card-container img{
  /* margin-left: -140px; */
  /* position: absolute;
  left: 35%;
  top: 4%; */
}

.dealer{
  margin-left: -100px;
}


/* End Result Container---------------------------------- */

.end-content-wrapper{
  border: 2px solid blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  margin: 0 auto;
  text-align: center;
  position: absolute;
}
/* .cards{
  display: flex;
  justify-content: center;
} */

#dealer-card-back{
  width: 226px;
  height: 314px;
  position: absolute;
  left: 42%;
  top: 2%;
  border: .5px solid black;
  border-radius: 15px;
  margin-left: -100px;
  z-index: 1000;
}

/* .dealer{
  margin-left: -50px;
} */

#user-card-back{
  width: 226px;
  height: 314px;
  position: absolute;
  border: .5px solid black;
  border-radius: 15px;
  z-index: 1000;
}

#btn-container{
  border: 2px solid purple;
  display: flex;
  width: 50%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  order: 5;
  height: 5vh
  /* padding: 10px; */
}

.total{
  position: absolute;
  /* background-color: #ca863b; */
  color: #f1e7cb;
  padding: 20px;
  border-radius: 100%;
  font-size: 2em;
  letter-spacing: 5px;
}

#user-total-container{
  bottom: 35%;
  left: 34%;
}
#dealer-total-container{
  top: 30%;
  left: 30%;
}

#reaction-container h1{
  display: flex;
  justify-content: center;
  position: absolute;
  top: 45%;
}

#end-container h1{
  /* border: 2px solid red; */
  background-color: #ca863b;
  color: #f1e7cb;
  /* position: absolute; */
  padding: 10px;
  border-radius: 5px;
  /* left: 42%; */

}


/* animation classes--------------------------- */
.fade-in{
  animation: fade-in;
  animation-duration: 1s;
}

@keyframes fade-in {
  from {opacity: 0;}
  to {opacity: 100;}
}

.fade-out{
  animation: fade-out;
  animation-duration: 2.0s;
}

@keyframes fade-out {
  from {opacity: 100;}
  to {opacity: 0;}
}
.long-fade-in{
  animation: fade-in;
  animation-duration: 5s;
}

@keyframes long-fade-in {
  from {opacity: 0;}
  to {opacity: 100;}
}

.dealer-slide{
  animation: dealer-slide;
  animation-duration: 1s;
}

@keyframes dealer-slide{
  from{top: -200px}
  to{top: 2%}
}

.user-slide{
  animation: user-slide;
  animation-duration: 2.75s;
}

@keyframes user-slide{
  from{top: -200px}
  to{top: 2000px}
}
/* hide display--------------------------- */
.hide{
  display: none;
}