/* color pallette

white : #f1e7cb
dark : #372924
green : #cbd29e
light orange : #e0be77
orange : #ca863b */

/* ---------------------------------------------------- */
/* universal styles ---------------------------------- */
* {
  box-sizing: border-box;
}

